* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.settingsItem {
  align-content: center;
  display: inline;
  margin: 10px;
  width: 100px;
  height: 50px;
}

#text {
  justify-content: center;
  text-align: center;
}

.keyboardKey {
  align-content: center;
  display: flex;
  margin: 8px;
  width: 10px;
  gap: 5px;
  background-color: bisque;
  margin: 0;
}
