@font-face {
  font-family: "Itim";
  src: url("./styles/Itim-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("./styles/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Playwrite";
  src: url("./styles/PlaywriteGBS-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("./styles/Manrope-Light.ttf");
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Manrope";
  font-weight: 700;
  color: white;
}

.settingsItem {
  color: white;
  background-color: rgb(135, 115, 153);
  align-content: center;
  display: inline;
  margin: 10px;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all linear 0.005s;
}

.settingsItem:hover {
  transform: scale(1.1);
}

#text {
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.keyboardKey {
  align-content: center;
  display: flex;
  justify-content: center;
  margin: 8px;
  width: 80vw;
}

#LettersDiv {
  width: 80vw;
  flex-wrap: wrap;
}

#Keyboard {
  margin: auto;
  width: 82vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#controlDiv {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-bottom: 80px;
  margin-top: 15px;
}
